/*.color1 { #4e031e };
.color2 { #5d2d4e };
.color3 { #5a4c6e };
.color4 { #447390 };
.color5 { #05a1ad };

.color1 { #ff0092 };
.color2 { #ffca1b };
.color3 { #b6ff00 };
.color4 { #228dff };
.color5 { #ba01ff };
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.escolha1 {
    padding: 50px 80px 50px;
    display: grid;
    place-content: center;
    background-image: url(Imagens/noiteVan.png);
    background-size: 103%;
}

.task {
    font-size: 65px;
    width: 105%;
    padding: 20px 0;
    display: flex;
    background-image: var(--gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Bree Serif', serif;
    color: transparent;
}

/*.escolha2 {
    border-bottom: 4px solid white;
}*/

.A1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#3258A6;
}

.A2 {
    float: left;
}

.A2 .A3 {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: #F2D852;/*#F2A81D;*/
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.A2 .A3:hover {
    background-color: #F2EEAC;
}


/*:root {
    --gradiente: linear-gradient(to right, rgb(255 0 146), rgb(186 10 255), rgb(34 125 255) );
}*/

/*:root {
    --gradiente: linear-gradient(to right, rgb(255 0 146), rgb(255 202 27), rgb(182 255 0), rgb(34 141 255), rgb(186 1 255))
} 78 3 30    5 161 173 */

:root {
    --gradiente: linear-gradient(to right, rgb(242 168 29), rgb(248 218 69) );
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "main";
    width: 100%;
    height: 100vh;
}
/*COLOR -
 #F2A81D - LARANJA
 #F2D852 - AMARELO
 #3258A6 - AZUL
 #F2EEAC - AMARELO
 #021373 - AZUL*/

 .A3:hover{
    color: black;
    transition: 0.8s;
 }

 .A4{
    font-size: 40px;
    font-family:'DM Serif Display', serif; 
    color: #3258A6;
 } /*rgb(255, 242, 56);*/

 .A4A5{
    font-size: 20px;
    color: #3258A6;
    
 }
 .card-item{
    
    background-color: #3258A6;
    width: 400px;
    height: 300px;
    border-color: rgb(242 168 29);
    border-width: 15px;
    border-style: solid;
    border-radius: 15px;
    display: inline-block;
 }
 .pa{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(248 218 69);
 }
 
 .A5{
    text-align: center;
    font-size: 35px;
    font-family: 'DM Serif Display', serif;
    font-family: 'Ultra', serif; 
    color: rgb(242 168 29);
 } /*#072bf5;/

 





 
