/*COLOR -
 #F2A81D - LARANJA
 #F2D852 - AMARELO
 #3258A6 - AZUL
 #F2EEAC - AMARELO
 #021373 - AZUL*/

 .A5 {
    text-align: center;
    font-size: 18px;
    font-family: 'DM Serif Display', serif;
    font-family: 'Ultra', serif;
    color: rgb(242 168 29);
    padding-bottom: 8px;
}

.img {
    width: 400px;
    height: 355px;
    padding-left: 0;
    border-radius: 10px;
    margin-top: 30px;

}

h1 {
    color: #000;
    font-size: 30px;
    text-align: center;
    font-family: 'ADLaM Display', cursive;


}

body {
    background-color: #628de4;
}

/* @media screen and (max-width: 856px) {
    main.conteudo {
      display: grid;
      grid-template-columns: auto auto auto;
    }

    img {
      height: 200px;
      width: 200px;
      border-radius: 20px;
    }
  }

  @media screen and (max-width: 400px) {
    main.conteudo {
      display: grid;
      grid-template-columns: auto;
    }

    .img {
      height: 200px;
      width: 300px;
      border-radius: 20px;
    }
  }
  */
* {
    margin: 0;
    box-sizing: border-box;
}

.banner {
    padding: 100px 300px 100px;
    display: grid;
    place-content: center;
    background-image: url(Imagens/NoiteEstrelada.png);
    background-size: 103%;
}

.task {
    font-size: 70px;
    width: 105%;
    padding: 20px 0;
    display: flex;
    background-image: var(--gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Bree Serif', serif;
    color: transparent;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3258A6;
    border-color: #020F59;
    border-width: 2px;
    border-style: solid;

}

.nav-home {
    float: left;
}

.nav-home .nav-conteudo {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    display: block;
    color: rgb(242 168 29);
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    transition: transform .2s;
}

.nav-home .nav-conteudo:hover {
    background-color: #F2EEAC;
    transform: scale(1.1);

}

:root {
    --gradiente: linear-gradient(to right, rgb(242 168 29), rgb(248 218 69));
}

.container {
    max-width: 1230px;
    margin: auto;
    display: grid;
    grid-template-areas: "main";
    width: 100%;
}

.containerIndex{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.nav-conteudo:hover {
    color: black;
    transition: 0.8s;
}

.card-item {
    margin-top: 10px;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    transition: transform .2s;
}

.cardItemCubismo {
    font-size: 20px;
    margin-left: 150px;
    background-color: #ffffff;
    width: 1000px;
    height: 100%;
    border-color: rgb(242 168 29);
    border-width: 15px;
    border-style: solid;
    display: inline-block;
    padding: 20px 35px;
    margin-top: 20px;
  }

  .cardItemExpressionismo {
    font-size: 20px;
    margin-left: 150px;
    background-color: #ffffff;
    width: 1000px;
    height: 3500px;
    border-color: rgb(242 168 29);
    border-width: 15px;
    border-style: solid;
    display: inline-block;
    padding: 20px 35px;
  }

  .cardItemFuturismo {
    font-size: 20px;
    margin-left: 150px;
    background-color: #ffffff;
    width: 1000px;
    height: 100%;
    border-color: rgb(242 168 29);
    border-width: 15px;
    border-style: solid;
    display: inline-block;
    padding: 20px 35px;
    padding-top: 10px;
}

.cardItemSurrealismo {
    font-size: 20px;
    margin-left: 150px;
    background-color: #ffffff;
    width: 1000px;
    height: 100%;
    border-color: rgb(242 168 29);
    border-width: 15px;
    border-style: solid;
    display: inline-block;
    padding: 20px 35px;
    margin-top: 20px;
  }

  .cardItemVanguardas {
    font-size: 20px;
    margin-left: 150px;
    background-color: #ffffff;
    width: 1000px;
    height: 100%;
    border-color: rgb(242 168 29);
    border-width: 15px;
    border-style: solid;
    display: inline-block;
    margin-top: 10px;
    padding: 20px 35px;
}

.cardItemSambaqui {
    font-size: 20px;
    margin-left: 15%;
    background-color: #ffffff;
    width: 1000px;
    height: 100%;
    border-color: rgb(242 168 29);
    border-width: 15px;
    border-style: solid;
    display: inline-block;
    padding: 20px 35px;
    margin-top: 20px;
  }

  .imgSambaqui {
    width: 400px;
    height: 300px;
    margin-left: 200px;
    margin-top: 8px;
  }


  .tituloSurrealismo {
    padding-left: 0;
    margin-top: 2px;

  }
  .imgSurrealismo {
    width: 500px;
    height: 300px;
    margin-top: 8px;
    margin-top: 8px;
    padding-left: 250px;
  }


  .imgCubismo {
    width: 400px;
    height: 300px;
    margin-left: 200px;
    margin-top: 8px;
  }

.card-item:hover{
    transform: scale(1.1);

}

.conteudoDentro{
    text-indent: 2cm;
    padding-bottom: 8px;
}
ul{
    padding-left: 2cm;
}

.containerVan {
    max-width: 1230px;
    display: grid;
    grid-template-areas: "main";
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 10px;
    left: 0;
    bottom: 0;
    list-style-type: none;
    height: 50px;
    overflow: hidden;
    background-color: #3258A6;
    border-color: #020F59;
    border-width: 2px;
    border-style: solid;
    margin-top: 20px;

}

    @media screen and (max-width: 856px) {
        .container {
            display: block;
            background-color: #628de4;

        }

        .containerVan {
            max-width: 856px;
            display: grid;
            grid-template-areas: "main";
            width: 100%;
            height: 100vh;
        }

        .A2 .A3 {
            font-family: Arial, Helvetica, sans-serif;
            display: block;
            color: rgb(242 168 29);
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        .A2 .A3:hover {
            background-color: #F2EEAC;
        }

        .barra {
            height: 5px;
        }


        .card-item {
            margin: 2em 2em;
            text-align: center;
            background-color: #628de4;
            padding-left: 5px;
            width: 200px;
            height: 200px;
            display: inline-block;
        }

        .pa {
            text-align: center;
            font-family: 'Abril Fatface', cursive;
            font-family: 'DM Serif Display', serif;
            font-family: 'Itim', cursive;
            font-family: 'Tinos', serif;
            font-family: 'VT323', monospace;
            font-size: 13px;
            color: rgb(0, 0, 0);
        }

        .A5 {
            text-align: center;
            font-size: 18px;
            font-family: 'DM Serif Display', serif;
            font-family: 'Ultra', serif;
            color: rgb(242 168 29);
        }

        main.conteudo {
            display: inline-block;
            grid-template-columns: auto auto;
        }

        .escolha1 {
            padding: 15px 60px 15px;
            display: grid;
            place-content: center;
            background-image: url(Imagens/NoiteEstrelada.png);
            background-size: 103%;
        }

    }

    @media screen and (max-width: 400px) {

        .escolha1 {
            padding: 38px 35px 38px;
            display: grid;
            place-content: center;
            background-image: url(Imagens/NoiteEstrelada.png);
            background-size: 105%;
        }

        .A2 .A3 {
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(242 168 29);
            /*#F2A81D;3258A6*/
            padding: 10px 15px;
            text-decoration: none;
            text-align: center;
        }

        .A2 .A3:hover {
            background-color: #F2EEAC;
        }


        .task {
            font-size: 30px;
            width: 100%;
            padding: 10px 0;
            display: flex;
            background-image: var(--gradiente);
            background-clip: text;
            -webkit-background-clip: text;
            font-family: 'Bree Serif', serif;
            color: transparent;
        }

        .A1 {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #3258A6;
            border-color: #020F59;
            border-width: 1px;
            border-style: solid;
            border-radius: 2px;
            font-size: 13px;
        }

        .barra {
            width: 30px;
            height: 2px;
        }

        .lupa {
            width: 15px;
            height: 15px;
        }

        .card-item {
            margin-left: 50px;
            text-align: center;
            padding-left: 5px;
            background-color: #628de4;
            width: 300px;
            height: 200px;
            display: inline-block;
        }


    }
